__pycache__/
*.py[cod]
.pytest_cache/
.idea/
.vscode/


logs/
results/
result/

models/roberta-base/
models/Qwen3/
models/Qwen3-4B/

!checkpoints/dep2idx.json

*.pt
*.pth
*.ckpt
*.log
*.pdf
*.pptx
.env
